.ignore-in-parent-frame {
    body {
        -webkit-filter: invert(100%) !important;
        background-blend-mode: normal !important;
        mix-blend-mode: normal !important;
        color: #111;
    }

    img {
        -webkit-filter: invert(100%) !important;
    }
}
